body{
   font-family: 'Poppins', sans-serif;
   margin:0;

}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.take-color{
   color: orange;
}
.flxiable-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width { 
    width:50%;
    padding-left: 8%;
    
}
.half-width img{
    width: 70%;
    padding-top: 40px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 9px 30px;
    border-radius: 6px;
    color: white;
    font-weight: 700px;

}
  .top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.mid-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}
.experience-item{
    box-shadow: 5px 5px 40px gray;
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
    
}
.bottom-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 90px;
}
#web-experience{
    border-left: 7px solid;
    border-image:linear-gradient( blue, cyan);
    border-image-slice: 1;
}
#full-stack-exprience{
    border-left: 7px solid;
    border-image:linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
footer p{ 
    text-align: center;
    color: blue;
}
